<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:right">
  
  <div class="container mb20 mt20">
    <div class="row">
      <div class="col-sm">
        <button class="btn btn-small btn-primary ml20 mr20" routerLink="/taxas" routerLinkActive="active">Histórico de Taxas Selic</button>
        <button class="btn btn-small btn-primary ml20 mr20" routerLink="/medias" routerLinkActive="active">Médias e Acumulados das Taxas Selic</button>
    </div>      
  </div>
</div>

<router-outlet></router-outlet>